@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h5,
h6,
span,
a,
p,
label,
input,
button {
  font-family: "Roboto", sans-serif;
}

button {
  transition: background 500ms ease;
  border-radius: 15px;
}

button:hover {
  background-color: #2222225e;
}

.active {
  background-color: #2222225e;
}

body {
  margin: 0;
  background-color: #2d2d2d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radial {
  font-size: 13px;
  top: 0;
  right: -10px;
  background: crimson;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  @apply absolute flex justify-center items-center;
}

.tier .radial {
  right: -5px;
}

.nation .radial {
  right: -5px;
}

.rarity .radial {
  right: -5px;
}

.name {
  color: #2d2d2d;
  font-size: 35px;
  font-family: "Poppins", sans-serif !important;
}

.meow {
  width: 100px;
}

.logo {
  width: 140px;
}

.navbar {
  padding: 0 40px;
  margin-top: 10px;
  height: 45px;
  box-shadow: 0px 1px 50px -13px #9d9d9d;
  background-color: #9d9d9d;
  @apply flex justify-between items-center;
}

.links {
  width: 45%;
  @apply flex justify-between;
}

@media (min-width: 1020px) {
  .links {
    width: 40%;
  }
}

.links a {
  color: #2d2d2d;
  font-size: 15px;
}

.header {
  flex-wrap: wrap;
  padding: 0 40px;
  margin-top: 40px;
}

.meow-span,
.header span {
  color: #9d9d9d;
}

.header h3 {
  color: aliceblue;
}

.search-container {
  margin-top: 83px;
}

.checkbox-container input {
  cursor: pointer;
}

.checkbox-container label {
  color: #9d9d9d;
}

.search {
  padding: 2px 5px;
  background-color: #9d9d9d;
}

.search::placeholder {
  color: #2d2d2d;
}

.nation {
  width: 50px;
  height: 50px;
  @apply flex items-center justify-center;
}

.nation img {
  width: 45px;
  height: 45px;
}

.type {
  font-size: 13px;
  @apply uppercase flex flex-col relative items-center;
}

.rarity {
  width: 45px;
  height: 45px;
  @apply flex items-center justify-center;
}

.rarity img {
  width: 40px;
  height: 32px;
}

.tier {
  width: 45px;
  height: 45px;
  @apply flex items-center justify-center;
}

.tier img {
  width: 40px;
  height: 40px;
}

.card {
  /* width: 250px; */
  height: auto;
  min-height: 360px;
  transition: all 500ms ease;
  background-color: #222;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 40px;
  margin-top: 40px;
}

@media (max-width: 1300px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.find {
  @apply absolute;
  width: 20px;
  top: 4px;
  right: 5px;
  cursor: pointer;
}

.scale-up {
  animation: scale-up 500ms 1 ease;
  transform: scale(1);
}

.scale-down {
  animation: scale-down 500ms 1 ease;
  transform: scale(0);
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
